# Heroes of Pymoli

In [3]:
# import pandas
import pandas as pd

In [4]:
# Load the file

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [88]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

### Player Count

In [39]:
# Count the number of Players (which is the number of rows in dataset)
totalPlayers = purchase_data["SN"].value_counts().count()
totalPlayers

576

### Purchasing Analysis (Total)

In [123]:
# Number of unique items
totalUniqueItems = purchase_data["Item Name"].value_counts().count()
# Average purchase price
averagePurchasePrice = round(purchase_data["Price"].mean(),2)
# Total number of Purchases
totalNumberPurchases = purchase_data["Purchase ID"].count()
# Total Revenue
totalRevenue = purchase_data["Price"].sum()
PurchaseResults = pd.DataFrame({
    "Number of Unique Items":[totalUniqueItems],
    "Average Price": [f"${averagePurchasePrice}"],
    "Number of Purchases": [totalNumberPurchases],
    "Total Revenue":[f"${totalRevenue}"]
    
})
PurchaseResults

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

### Gender Demographics

In [131]:
# Store unique players and their related info, (SN, Age, Gender) into dataframe
PlayerInfo = purchase_data.iloc[:,1:4]
uniquePlayersInfo = PlayerInfo.drop_duplicates(subset = ["SN","Gender"])

#Find the counts of each gender
genderCounts = uniquePlayersInfo["Gender"].value_counts()

# Store each gender count into its own variable
maleCount = genderCounts[0]
femaleCount = genderCounts[1]
otherCount = genderCounts[2]

malePercent = round((maleCount / totalPlayers) * 100,2)
femalePercent = round((femaleCount / totalPlayers) * 100,2)
otherPercent = round((otherCount / totalPlayers) * 100,2)

genderResults = pd.DataFrame({
    "Total Count": [maleCount, femaleCount, otherCount],
    "Percentage of Players" : [f"{malePercent}%", f"{femalePercent}%", f"{otherPercent}%"],
    "Gender" : ["Male", "Female","Other / Non-Disclosed"]
})
genderResults = genderResults.set_index("Gender")
genderResults

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%